@mixin for-size($size) {
  @if $size==mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size==tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size==desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

// text colors
$white: #ffffff;
$dark: #0c0b0b;
$textColor: #5e5c5c;
$accentColor: #ff5900af;
$svgColor: #8f8e8e;
$warningColor: #ff0019ea;

// mixins for transitions
@mixin transition(
  $property,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $time $timingFunction;
}

@mixin twoTransitions(
  $propertyI,
  $propertyII,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $propertyI $time $timingFunction,
    $propertyII $time $timingFunction;
}
