.footer {
  display: block;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: #77c1bb;

  // border: solid brown 3px;
}

.footer-copyright {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 14px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 24px;
    line-height: 1.21;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.23;
  }

  // border: solid brown 3px;
}

// .footer-text {
//   color: rgb(39, 13, 190);
// }
