.footer {
  display: block;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: #77c1bb;

  // border: solid brown 3px;
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 20px 0px;
  padding-top: 35px;
  padding-bottom: 35px;

  font-size: 16px;
  font-weight: 400;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
  }

  @media screen and (min-width: 1024px) {
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
  }
}

// .scroll-up {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   bottom: 30px;
//   right: 10px;
//   width: 50px;
//   height: 50px;
//   background-color: #77c1bb;
//   box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
//   border-radius: 50%;

//   // @media (min-width: 768px) {
//   //   display: none;
//   // }

//   // @media screen and (max-width: 1024px) {
//   //   display: none;
//   // }
// }

// .material-icons-white {
//   color: white;
// }

.footer-text {
  margin-right: 15px;
  color: rgba(55, 44, 72, 0.702);
}
