




@include for-size(tablet) {
  .main_filmlist,
  .libraryPage_list {
    display: flex;

    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
  }
}

@include for-size(tablet) {
  .filmlist__item {
    margin: 20px;
    width: 260px;
    cursor: pointer;
  }
}

.filmlist__item {
  margin: 20px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  background-color: cadetblue;
  border-radius: 10px 10px 10px 10px;
  transform: scale(1);
  transition: transform 250ms linear;
  &:hover,
  &:focus{
    transform: scale(1.05);
  }

}

.filmlist__img {
  display:block;
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;

}
.filmlist__title {
  font-size: 20px;
  padding-left: 15px;

  @include for-size(tablet) {
    font-size: 25px;
  }

  @include for-size(hd-desktop) {
    font-size: 20px;
  }
}
.filmlist__rate {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 5px;
  top: 5px;

  font-weight: 900;
  font-style: italic;
  color: #ffffff;

  width: 35px;
  height: 35px;

  z-index: 1;
}

.filmlist__rate::after {
  content: '';
  position: absolute;
  right: -20px;
  height: 60px;
  width: 60px;
  top: -15px;

  // transform: skewX(10deg);
  background-color: $warningColor;
  border-radius: 10px;
  z-index: -2;
}

.filmlist__date {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 10px;
}
.filmlist__icon {
  fill: yellow;
}
.search__description{
  text-align: center;
  font-size: medium;
  font-weight: 500;
}