.onClick {
  background-color: #77c1bb;
}

.library-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  background-color: #f3f6f6;
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.23);
}
.library-wrap {
  min-height: 100vh;
}
