.modal-close-btn {
  font-size: 18px;
  position: absolute;
  top: 15px;
  right: 10px;
  color: #3c2a1e;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #3c2a1e;
    box-shadow: 0 0 15px #3c2a1e;
  }
  @include for-size(mobile) {
    display: none;
  }
}

.modal-cardCast {
  z-index: 200;
}

@media screen and (max-width: 767px) {
  .modal-card,
  .modal-cardCast {
    position: relative;
    background-color: $accentColor;
    width: 320px;
    margin-top: 350px;
  }
}

.body-scroll-disable {
  overflow: hidden;
}

.genres {
  display: flex;
}

.cardItem__container {
  display: flex;
  justify-content: space-between;
}

.cardItem__image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-left: 10px;
  width: 260px;
  height: 404px;
  border-radius: 10px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    height: 416px;
  }
}
.cardItem__wrapper {
  padding: 34px 20px 38px;
}

.cardItem__name {
  color: #3c2a1e;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 30px;

  @include for-size(mobile) {
    text-align: center;
  }

  @include for-size(mini-mobile) {
    font-size: 22px;
  }

  @include for-size(tablet) {
    font-size: 40px;
  }
}
.cardItem__name::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3c2a1e;
  margin-top: 10px;
  animation: redline 5s;
}
.cardItem__wrapper p {
  font-size: 12px;
  font-weight: 500;

  margin-bottom: 18px;
  letter-spacing: 1px;
}
.cardItem_text {
  color: #3c2a1e;
  display: flex;
  align-items: center;
}
.vote-blok {
  display: flex;

  @include for-size(mini-mobile) {
    flex-direction: column;
    align-items: center;
  }
}
.blok-text {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 2px 2px;
  margin-left: 50px;
  background: #efe5de;
  border-radius: 20px;
  color: #3c2a1e;
}
.cardItem_text-p {
  padding-right: 15px;
  font-size: 18px;
  color: #3c2a1e;
  display: flex;
  align-items: center;
}
.cardItem__vote_average {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  // background-color: rgb(223, 20, 20);
  border-radius: 5px;
  // color: rgb(140, 240, 240);
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  // padding: 1px 9px 1px 10px;
}
.cardItem__vote_count {
  display: inline-block;
  margin-left: 3px;
  color: #3c2a1e;
  font-weight: 500;
  background-color: #efe5de;
  border-radius: 5px;
  // padding: 1px 4px 1px 4px;
  text-align: center;
  line-height: 1.5;
}
.cardItem___data {
  // margin-left: 5px;
  color: #3c2a1e;
  font-weight: 500;
  padding: 2px 2px;
}
.cardItem__title_data {
  // margin-left: px;
  text-transform: uppercase;
  color: #3c2a1e;
  font-weight: 500;
  padding: 2px 2px;
}
.cardItem__genre {
  display: inline-block;
  margin-right: 90px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-right: 90px;
  }
}
.cardItem__genre_data {
  color: #3c2a1e;
  margin-right: 5px;
}

.cardItem__genreList {
  list-style: disc;
  display: block;
  flex-wrap: wrap;
  list-style: disc;
}

.cardItem__about {
  text-transform: uppercase;
  font-weight: 700;
  color: #3c2a1e;
}

.cardItem__description {
  font-size: 18px;
  color: #3c2a1e;
}
.cardItem__list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .modal-card,
  .modal-cardCast {
    background-color: #c19c82;
    width: 720px;
    margin-top: 0px;
    display: flex;
  }
  .cardItem__image {
    display: block;
    width: auto;
    height: auto;
    padding-top: 0px;
    border-radius: 10px;
  }

  .cardItem {
    display: flex;
  }

  .cardItem__image {
    width: 295px;
    padding: 20px;
  }

  .cardItem__name {
    font-size: 25px;
    line-height: 35px;
  }
}

@media (min-width: 1024px) {
  .modal-card {
    background-color: #c19c82;
    width: 810px;
    margin-top: 0px;
    display: flex;
    border-radius: 10px;
  }
  .cardItem__image {
    display: block;
    width: auto;
    height: auto;
    padding-top: 10px;
    border-radius: 5px;
  }

  .cardItem__wrapper {
    width: 423px;
  }

  .cardItem__genreList {
    width: 290px;
  }
}

.btn_list {
  display: flex;
  justify-content: center;
}
.close {
  color: #3c2a1e;
}
.storage__item {
  padding: 5px 10px;
  margin-top: 40px;
}

// .js-btnWatchedAdd {
//   padding: 10px 20px;
//   border-radius: 5px;
//   border-color: rgb(15, 15, 15);
//   @media screen and (min-width: 320px) and (max-width: 767px) {
//     padding: 7px 15px;
//   }
// }

// .js-btnQueueAdd {
//   padding: 10px 20px;
//   border-radius: 5px;
//   @media screen and (min-width: 320px) and (max-width: 767px) {
//     padding: 7px 15px;
//   }
// }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #3c2a1e;
  margin-right: 5px;
}

.js-btnWatchedAdd,
.js-btnQueueAdd,
.js-btnCast,
.js-btnReviews {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Lemonada', cursive;
  color: #3c2a1e;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: inherit;
  padding: 8px;
  border: 2px solid #efe5de;
  margin-right: 5px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 180px;
    font-size: 14px;
  }

  @media screen and (min-width: 1024px) {
    width: 180px;
    font-size: 16px;
  }
}

.js-btnWatchedAdd:hover,
.js-btnQueueAdd:hover,
.js-btnCast:hover,
.js-btnReviews:hover {
  cursor: pointer;
  border: 2px solid #3c2a1e;
  box-shadow: 0 0 6px 1px #3c2a1e;
}
