//BUTTONS

.btn-container {
  padding: 20px 22px;
  text-align: center;
}

.btn-prev,
.btn-number,
.btn-next,
.btn-next-home,
.btn-prev-home {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 1px solid inherit;
  width: 98px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  &:hover,
  &:focus {
    border: 1px solid $dark;
    color: $dark;
    font-size: 22px;
  }
}


.btn-number {
  width: 50px;
}

#homePage__search {
  position: relatives;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 68px;
  background-color: #232323c0;
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.23);
  // margin-bottom: 15px;
}

#homePage__search-input {
  width: 100%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: $accentColor;
  background-color: transparent;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid $accentColor;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  &::placeholder {
    color: color$accentColor a(0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &:hover,
  &:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid $accentColor;
    border-radius: 0;
    background-position: 100% center;
  }
}

#homePage__search-input::before {
  content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA+VBMVEU3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEgAAAAFS6E0AAAAUXRSTlMAEV+RkF0QCojn+IYJG8/98s0YBs6qHR6tyw1q/ra4Y1va9isxx/zz5X70BNw5t/qrAjXgL+HrIIU4f+IF9/n1it8igK+uoDCh3Z/YPaWjFzvb7PJhAAAAAWJLR0RSDWAtkAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+MHBgscM569k+oAAACzSURBVBjTY2AAAkYmZhZWNgYEYOfg5OLi5OaBC/Dy8QsICgrwCwpBBYRFAkXFGBjEJQIlhcECUtIyshApORl5MK2gqKQMEVHhUgXTHGrqMAOVNMCUppa6NtRAJR0wraunzwQRkVczANOGRjLGJmBjTM3ModotAk01LS2trANlbWAO0rS1s7W1s3fQcjSBWeLk7OKqycvgFmjszoAKPAI9VdCEvAK9fVBFtH0D/dAU+XMHAAC2xROU1oQiHQAAAABJRU5ErkJggg==');
}

#homePage__search-input::placeholder {
  color: $accentColor;
}

#homePage__search-error-message {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .homePage {
    padding-bottom: 20px;
  }

  .homePage__list {
    width: 768px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .homePage__items {
    width: 348px;
    height: 182px;
    margin: 0 0 16px 22px;
  }

  .homePage__text {
    left: 12px;
  }

  #homePage__search-input {
    width: 284px;
    font-size: 16px;
    line-height: 22px;
  }

  .homePage__pagination-elem {
    padding: 16px 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
  }
}
@media (min-width: 1024px) {
  .homePage {
    padding-bottom: 12px;
  }

  .homePage__list {
    margin: 0 auto;
    width: 1024px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .homePage__items {
    width: 468px;
    height: 244px;
    margin-bottom: 20px;
  }

  .homePage__text {
    font-size: 18px;
    left: 18px;
    bottom: 12px;
  }

  #homePage__search-input {
    width: 286px;
    font-size: 16px;
  }

  .homePage__pagination-elem {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
}

.hidden {
  visibility: hidden;
  display: none;
}
